.items {
	width: 69.5vw;
	height: 43vh;
	background-color: white;
	border-radius: 5px;
	border: 2px solid #eeeeee;
	position: absolute;
  top: 78.5vh;
  left: 50%;
  transform: translate(-50%, -59.5%);
  cursor: pointer;
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.item {
  display: inline-block;
  width: 20%;
  padding: 0px;
  margin: 0px;
  vertical-align: top;

}

.itemText{
  width: 12vw;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
}

.itemTitle{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.shop {
  width: 12vw;
  text-align: center;
}